html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  touch-action: manipulation;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* 🚫 Запрещаем горизонтальный скролл */
  margin: 0;
  padding: 0;
}

#root {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}